@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Light.woff2') format('woff2');
    font-display: swap;
    font-style: normal;
    font-weight: 300;
}

html, body {
    position: relative;
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    background: #FFFFFF;
    font-family: Gotham Pro, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

h1, h2, h3, ul {
    margin: 0;
}

.hero-container {
    padding: 16px 16px;
}

.swiper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: initial !important;
}

.swiper-title {
    margin-bottom: 24px;
    font-size: 27px;
    font-weight: 300;
    color: #444444;
}

.swiper-title::after {
    content: "";
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate( -45deg);
    top: -3px;
    left: 23px;
    position: relative;
    cursor: pointer;
}

.swiper-navigation {
    display: none;
    width: 12%;
    top: -33px;
    position: relative;
    align-self: flex-end;
}

.swiper-button-next {
    margin-right: -5px;
    width: 30px !important;
    height: 30px !important;
    z-index: 25;
    order: 3;
    background-color: #F6F6F6;
    border-radius: 100px;
    box-sizing: border-box;
    outline: none;
    border: 2px solid transparent;
    transition: background-color 0.25s ease-in-out;
}

.swiper-button-prev:after, .swiper-button-next:after {
    font-family: swiper-icons;
    font-size: 12px !important;
    text-transform: none !important;
    letter-spacing: 0;
    text-transform: none;
    font-variant: initial;
    line-height: 1;
    color: transparent;
    font-weight: bold;
}

.swiper-button-next:after {
    color: #888888;
    position: absolute;
    right: 9px;
}

.swiper-button-prev {
    margin-left: -5px;
    width: 30px !important;
    height: 30px !important;
    background-color: #F6F6F6;
    border-radius: 50%;
    box-sizing: border-box;
    outline: none;
    z-index: 25;
    border: 2px solid transparent;
    transition: background-color 0.25s ease-in-out;
}

.swiper-button-prev::after {
    color: #888888;
    position: absolute;
    left: 9px;
}

.swiper-wrapper {
    width: max-content !important;
    margin: 0 !important;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.swiper-slide {
    height: auto !important;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 18px;
    background: #FFFFFF;
    text-align: left;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.swiper-container {
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.swiper-span-first {
    height: 98px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    background-image: url('https://i.ibb.co/Fmv54YD/Rectangle-2.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.swiper-span-second {
    height: 98px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    background-image: url('https://i.ibb.co/Cz4990r/Rectangle-3.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.swiper-span-third {
    height: 98px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    background-image: url('https://i.ibb.co/mqHWf4c/Rectangle-4.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.swiper-span-fourth {
    height: 98px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    background-image: url('https://i.ibb.co/FBCYs3n/Rectangle-5.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.text-new {
    width: fit-content;
    margin-bottom: 5px;
    padding: 4px 8px;
    background-color: #EEFCF6;
    font-size: 13px;
    color: #3DDC97;
    font-weight: normal;
    border-radius: 5px;
}

.text-hit {
    width: fit-content;
    padding: 4px 8px;
    background-color: #FCF4ED;
    font-size: 13px;
    color: #E49F62;
    font-weight: normal;
    border-radius: 5px;
}

.swiper-block {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.title-management {
    margin-bottom: 8px;
    font-size: 13px;
    color: #888888;
    font-weight: normal;
}

.title-number {
    margin-bottom: 8px;
    font-size: 15px;
    color: #444444;
    font-weight: normal;
}

.text-raiting {
    display: inline-block;
    margin-bottom: 16px;
    font-size: 13px;
    color: #00ADEF;
}

.swiper-list {
    margin-bottom: 16px;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: baseline;
}

.swiper-item-new {
    margin-right: 16px;
    font-size: 19px;
    color: #444444;
}

.swiper-item-old {
    font-size: 13px;
    color: #888888;
    text-decoration: line-through;
}

.swiper-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.swiper-btn {
    width: 100%;
    padding: 16px 32px;
    background-color: #00ADEF;
    border-radius: 5px;
    border: transparent;
    font-size: 15px;
    color: #FFFFFF;
    cursor: pointer;
}

.swiper-like {
    position: absolute;
    top: 22px;
    right: 47px;
}

.swiper-more {
    position: absolute;
    top: 23px;
    right: 21px;
}